body{
    background-image: url(image.jpeg);
    background-repeat: no-repeat;
    background-position: right top;
    /* background-attachment: fixed; */
    /* background-attachment: scroll; */
    /* background-attachment: local; */
    background: url(image1.jpeg) no-repeat left top;
}

h1 span{
    background-color: rgb(208, 18, 170);
    text-align: center;
    background-image: url(image1.jpeg);
}
p span{
    background-color: #ff0010;
    color: hsl(180, 84%, 45%);
}
.p1 span{
    color: yellowgreen;
    background-color: white;
    border: 2px solid blue;
    background-image: url(image1.jpeg);
}